body {
  /* font-size: 12px; */
}
/* Top 區 STR */
#bannerMax {
  margin: 0px auto; /*div對齊效果*/
  /* text-align: center; display: inline對齊效果 */
  width: 100%;
  background-color: #44aff2;
}
#topleft {
  display: inline-block; /*讓div並排*/
  vertical-align: top; /*就算個個div行數不同，也一律向上對齊*/
  margin: 0px;
}
#topright {
  display: inline-block; /*讓div並排*/
  vertical-align: top; /*就算個個div行數不同，也一律向上對齊*/
  margin: 0px;
}
.top-Text {
  font-size: 1.3em;
  color: #132f40;
}
.top-R {
  font-size: 2em;
  color: #f24c3d;
}
.topLogo {
  height: 60px;
  vertical-align: text-bottom;
}
.typing {
  /* letter-spacing: .3rem; */
  -webkit-animation: type 4s steps(50, end) forwards;
  animation: type 4s steps(50, end) forwards;
}
.typing-item {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* for .typing */
@-webkit-keyframes type {
  from {
    width: 0;
  }
}
@keyframes type {
  from {
    width: 0;
  }
}
/* Top 區 END */

/* 漢堡選單 */
#navDemo {
  vertical-align: bottom;
}

/* Automatic Slideshow Images STR */
.mySlides {
  display: none;
}
.img-style1 {
  width:100%;
  background: linear-gradient(toprgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), bottom;
}
/* Automatic Slideshow Images END */

/* 彈出式會員登入視窗 STR */
.login-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5); /* 控制背景畫面透明度, 0.5=背景刷淡50%, 1=背景不透明 */
}
.login-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}
/* 彈出式會員登入視窗 END */

/* 會員登入區塊 */
#cust_login {
  position: sticky;
  background-image: url(../images/cust_login.jpg);
  background-size: cover;
  width: 100%;
  min-height: 600px;
}
/* 會員登入表單外層 */
.cust_login_tabb {
  position: relative;
  width: 100%;
  min-height: 450px;
  opacity: 0.9;
}
/* 會員登入表單內層 */
.cust_login_tabs {
  border: 0px;
  background-color: white;
  float: right;
  margin: auto 55px;
  border-radius: 0px 50px 0px 50px;
}
/* 會員登入標題 */
.cust_login_title {
  /* background-color: skyblue; */
  background: linear-gradient( #44aff2,#132f40);
  border: 0px;
  white-space: nowrap;
  font-size: 2em;
  color: #fff;
  opacity: 0.9;
  border-radius: 0px 50px 0px 50px;
}
/* 會員登入欄位 */
.cust_login_td {
  border: 0px;
  padding: 5px;
  white-space: nowrap;
}

/* 會員登入成功 */
.cust_login_ok {
  color: #ffff00;
  vertical-align: baseline;
}

/* 會員忘記密碼 */
#cust_pw {
  position: sticky;
  background-image: url(../images/cust_login.jpg);
  background-size: cover;
  width: 100%;
  min-height: 600px;
}

/* 會員申請區塊 */
#cust_apply {
  position: sticky;
  background-image: url(../images/cust_apply.jpg);
  background-size: cover;
  width: 100%;
  min-height: 600px;
}
/* 會員申請表單外層 */
.cust_apply_tabb {
  position: relative;
  width: 100%;
  min-height: 450px;
  opacity: 0.9;
}
/* 會員申請表單內層 */
.cust_apply_tabs {
  border: 0px;
  background-color: white;
  float: right;
  margin: 20px 55px;
  border-radius: 0px 50px 0px 50px;
}
/* 會員申請標題 */
.cust_apply_title {
  background: linear-gradient( #44aff2,#132f40);
  border: 0px;
  white-space: nowrap;
  font-size: 2em;
  color: #fff;
  opacity: 0.9;
  border-radius: 0px 50px 0px 50px;
}
/* 會員申請欄位 */
.cust_apply_td {
  border: 0px;
  padding: 5px;
  white-space: nowrap;
  font-size: 0.9em;
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
}
.cust_apply_check {
  color: red;
}
.input {
  padding: 2px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.cust_but {
  width: 99.7%;
  border-radius: 0px 50px 0px 50px;
}

/* 會員修改區塊 */
#cust_modify {
  position: sticky;
  background-image: url(../images/cust_apply.jpg);
  background-size: cover;
  width: 100%;
  min-height: 600px;
}
/* 會員修改標題 */
.cust_modify_title {
  background: linear-gradient( #44aff2,#132f40);
  border: 0px;
  white-space: nowrap;
  font-size: 2em;
  color: yellow;
  opacity: 0.9;
  border-radius: 0px 50px 0px 50px;
}
.cust_modify_vip {
  padding: 12px !important;
  color: red;
}
/* 會員修改-升級視窗 */
.cust_modify_vip_modal {
  z-index: 3;
  display: none;
  padding-top: 150px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;  /* 控制背景遮罩寬度範圍 */
  height: 100%; /* 控制背景遮罩高度範圍 */
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6); /* 控制背景畫面透明度, 0.5=背景刷淡50%, 1=背景不透明 */
}
.cust_modify_vip_modal_content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}

/* 策略市集 */
#strategy {
  position: sticky;
  padding: 10px;
  width: 100%;
  min-height: 600px;
  background-image: url(../images/index_full_7.png);
  background-size: cover;
}

#strategy_title {

}

#strategy_show {
  
}

/* 計算機工具 */
#tools {
  position: sticky;
  padding: 10px;
  width: 100%;
  min-height: 600px;
  background-image: url(../images/tools_index.jpg);
  background-size: cover;
}

#tools_title {

}

#tools_show {
  
}

/* 投資小學堂 */
#school {
  position: sticky;
  padding: 10px;
  width: 100%;
  min-height: 600px;
  /* background-image: url(../images/school.jpg); */
  background-image: url(../images/case_index.jpg);
  background-size: cover;

}
/* 投資小學堂標題 */
#school_Th {
  margin-top: -10px;
  color: yellow;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-shadow: 3px 3px 3px #132f40;
  animation: school 2500ms infinite;
  -webkit-animation: school 2500ms infinite;
  cursor: pointer; /* 滑鼠游標樣式 */
}
/* for .school_Th */
@keyframes school {
  from { opacity: 1; }
  25% { opacity: 0.3; }
  50% { opacity: 1; }
  to { opacity: 1; }
}
@-webkit-keyframes school {
  from { opacity: 1; }
  25% { opacity: 0.3; }
  50% { opacity: 1; }
  to { opacity: 1; }
}
/* 投資小學堂-預設顯示區 */
#school_index {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* for #school_show */
.school_chow_def{
  display: none;
}
/* 投資小學堂-內文區 */
.school_show_body {
  margin: 10px;
  padding: 20px;
  opacity: 0.8;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px #132f40;
  -moz-box-shadow: 0 0 15px #132f40;
  box-shadow: 0 0 15px #132f40;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: justify;
  text-justify: inter-ideograph;
  background: radial-gradient(circle, #ffffff, #ffffff);
}
.school_show_title {
  margin: -10px;
  background: radial-gradient(circle, #5cc8f2, #132f40);
  border-radius: 15px;
  border: 5px double white;
  box-shadow: 3px 3px 10px #132f40;
  text-align: center;
  color: white;
  font-size: 1.2em;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.content_txt_red {
  color: #ff0000;
  letter-spacing: 0.2em;
}

/* 投資小學堂-預設顯示區-項目樣式 */
.school_show {
  margin: 30px 24px;
  width: 250px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 1px 0 #ccc,
              0 5px 0 #aaa,
              0 0 5px rgba(0, 0, 0, 0.1),
              0 1px 3px rgba(0, 0, 0, 0.3),
              0 3px 5px rgba(0, 0, 0, 0.2),
              0 5px 10px rgba(0, 0, 0, 0.25),
              0 10px 10px rgba(0, 0, 0, 0.2),
              0 20px 20px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 1.8em;
  font-weight: 400px;
  text-align: center;
  line-height: 85px;
  text-shadow: 0 1px 0 #ccc,
               0 5px 0 #545454,
               0 0 5px rgba(0, 0, 0, 0.1),
               0px 20px 20px rgba(0, 0, 0, 0.15);
}
.school_show:hover {
  background: linear-gradient(#44aff2,#132f40);
  cursor: help; /* 滑鼠游標樣式: help / pointer */
}
.school_show:active {
  background-color: #132f40;
  box-shadow: 0 5px #44aff2;
  transform: translate(0px,5px);
}
/* for .school_show */
.school_show_color1 {
  background: linear-gradient(rgb(72, 255, 0),rgb(1, 90, 8));
}
.school_show_color2 {
  background: linear-gradient(rgb(73, 252, 213),rgb(0, 88, 66));
}
.school_show_color3 {
  background: #d7b49e;
}
.school_show_color4 {
  background: #dc602e;
}
.school_show_color5 {
  background: #593959;
}
.school_show_color6 {
  background: #ff9b71;
}

/* 重大事件 */
#case {
  position: sticky;
  padding: 10px;
  width: 100%;
  min-height: 600px;
  background-image: url(../images/case_index.jpg);
  background-size: cover;
}

#case_title {

}

#case_show {

}

/* Q&A navga */
#qa {
  position: sticky;
  padding: 10px;
  width: 100%;
  min-height: 600px;
  background-image: url(../images/qa_index.jpg);
  background-size: cover;
}
/* .title {
  margin: 10px 10px 0px 10px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
} */
/* a {
  color: #e6e8e6;
} */
/* QA */
/* .container {
  padding: 30px;
  width: 60%;
  font-size: 1.2em;
  font-family: "微軟正黑體", Verdana, sans-serif;
  border-radius: 40px 40px 40px 40px;
  -webkit-box-shadow: 0 0 15px #78e3fd;
  -moz-box-shadow: 0 0 15px #78e3fd;
  box-shadow: 0 0 15px #78e3fd;
  line-height: 150%;
  text-align: justify;
  text-justify: inter-ideograph;
  background-image: linear-gradient(to top left, #d1f5ff, #eef8ff);
} */

/* 聯絡我們 */
#contact {
  position: sticky;
  padding: 10px 40px;
  width: 100%;
  min-height: 600px;
  background-image: url(../images/contact_index.jpg);
  background-size: cover;
}

.contact_title {
  background: linear-gradient( #44aff2,#132f40);
  border: 0px;
  white-space: nowrap;
  font-size: 2em;
  color: #fff;
  opacity: 0.9;
  border-radius: 0px 50px 0px 50px;
  text-align: center;
  width: 100%;
  /* max-width: 800px;
  min-width: 450px; */
}
/* 聯絡我們表單外層 */
/* .contact_tabb {
  position: relative;
  width: 100%;
  min-height: 450px;
  max-width: 100%;
  min-width: 50%;
  opacity: 0.9;
} */
/* 聯絡我們表單內層 */
.contact_tabs {
  border: 0px;
  min-height: 400px;
  min-width: 650px;
  /* background-color: white; */
  /* float: left; */
  /* margin: 20px 55px; */
  border-radius: 0px 50px 0px 50px;
}

/* #contact_title {
  float: right;
  margin: 10px 60px 0px 60px;
  color: rgb(0, 60, 150);
  -webkit-text-fill-color: transparent;   
  -webkit-text-stroke: 0 #000;  
  text-align: center;
  font-size: 3em;
  font-weight: 900;
  text-shadow: 3px 3px 5px #fff;
} */

#contact_show {
  float: left;
  margin: 10px;
  padding: 0px;
  opacity: 0.8;
  border-radius: 0px 50px 0px 50px;
  box-shadow: 0 0 10px #132f40;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: justify;
  text-justify: inter-ideograph;
  background: radial-gradient(circle, #fff, #7cc6fa);
}

/* 關於我們 */
#about {
  position: sticky;
  /* padding: 10px; */
  width: 100%;
  min-height: 600px;
  /* background-image: url(../images/about_index2.jpg); */
  /* background-size: cover; */
  /* opacity: 0.7; */
}

#about_title {

}

#about_show {
  
}

/* aboutUs */
/* .aboutUsBody{
  position: sticky;
  padding: 10px;
  background-size: cover;
  width: 100%;
  min-height: 480px;
} */

/* #usTiltle{
  height: 200px;
  text-align: center;
  line-height:200px;
  font-family: 'Crimson Text', serif;
  font-weight:bold;
  font-size: 6em;
  color: #034078;
  text-shadow:0px 0px 5px #0A1128;
} */

#about_first {
   background-image: url(../images/image_3.jpg);
   background-size: cover;
   width: 100%;
}
#about_first_Word {
  padding: 10px;
  width: 100%;
  height: 350px;
  background-color: #FEFCFB;
  opacity: 0.8;
  clip-path: polygon(63% 0, 100% 0, 101% 101%, 37% 101%);
  /* border: 0px; */
}
.about_first_th {
  text-align: right;
  vertical-align:bottom;
}

#about_information {
  margin: 10px;
  width: 80%;
  margin: 10px auto;
  border-radius: 40px;
}
#about_informationTitle {
  margin: 10px auto;
  height: 150px;
  text-align: center;
  font-weight:bold;
  font-size: 2em;
  color: #034078;
  text-shadow:0px 0px 5px #0A1128;
}
.about_card {
  border: 1px solid #FEFCFB;
  background-color: #FEFCFB;
  margin: 25px auto;
  display: flex;
  color: #0A1128;
  border-radius: 10px;
  box-shadow: 0 0 15px #132f40;
  width: 90%;
}

.about_img {
 border: 4px dashed #30323D;
 width: 350px;
 height: 200px;
 border-radius: 50%;
 margin: 10px auto;
}
.about_img {
  width: 350px;
  height: 200px;
  border-radius: 50%;
}
.about_word {
  margin: 10px auto;
  width: 40%; 
  height: 200px;
  font-size: 1.5em;
}